.advertisement {
	margin-left: 3vw;
	margin-right: 3vw;
	margin-top: 0;
	margin-bottom:0;
	width: 16.8vh;
	height: 16.8vh;
	border: 0.2vh solid red;
	> img {
		border: 0.2vh solid blue;
		width: 16.4vh;
		height: 16.4vh;
	}
}